{{#each system.abilities as |ability name|}}
    <div class="ability">
        <label class="ability-name box-title rollable">
            <h3>{{ability.label}}</h3>
        </label>
            {{numberInput ability.value name=(concat "system.abilities." name ".value") class="ability-value" placeholder="10"}}
    </div>
{{/each}}
