
<div class="ability-block">
    {{#each system.abilities as |ability name|}}
        <label class="ability-name">
            <h3>{{ability.label}}</h3>
        </label>
        <div class="ability-value">
            {{numberInput ability.value name=(concat "system.abilities." name ".value") class="ability-score" placeholder="10"}}
        </div>
    {{/each}}
</div>