@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.elityaworld {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
}
.elityaworld .window-content {
  font-size: 13px;
}
.elityaworld h3 {
  border-bottom: none;
}
.elityaworld.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #191813;
}
.elityaworld.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.elityaworld.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.elityaworld.sheet input[type="text"],
.elityaworld.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.elityaworld.sheet input[type="text"]:hover,
.elityaworld.sheet input[type="number"]:hover,
.elityaworld.sheet input[type="text"]:focus,
.elityaworld.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.elityaworld.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.elityaworld.sheet .editable .rollable:hover {
  cursor: pointer;
}
.elityaworld.sheet .editable h4.rollable:hover,
.elityaworld.sheet .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
.elityaworld.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.elityaworld.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #D8A500;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.elityaworld.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet .sheet-header .header-details .summary select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}
.elityaworld.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.elityaworld.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.elityaworld.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #D8A500;
}
.elityaworld.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #D8A500;
  border-bottom: none;
}
.elityaworld.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #D8A500;
  line-height: 34px;
  color: #4b4a44;
}
.elityaworld.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.elityaworld.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #880101;
}
.elityaworld.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #D8A500;
  text-shadow: 0 0 10px #D8A500;
}
.elityaworld.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.elityaworld.sheet.item {
  min-height: 330px;
  min-width: 560px;
}
.elityaworld.sheet.item form {
  display: flex;
  flex-direction: column;
}
.elityaworld.sheet.item .sheet-header input {
  color: #880101;
  font-size: 50px !important;
  font-weight: 400;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.elityaworld.sheet.item .sheet-content .editor {
  height: 100%;
}
.elityaworld.sheet.item .sheet-content th {
  color: #880101;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 5px 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet.item .sheet-content th:last-child {
  padding-right: 0;
}
.elityaworld.sheet.item .sheet-content td {
  font-size: 15px;
  padding: 2px 5px 0;
  text-align: center;
}
.elityaworld.sheet.item .sheet-content td input {
  text-transform: capitalize;
}
.elityaworld.sheet.item .sheet-content td input[type=number] {
  width: 36px;
}
.elityaworld.sheet.item .sheet-content td:last-child {
  padding-right: 0;
}
.elityaworld.sheet.actor .sheet-header img.profile-img {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.elityaworld.sheet.actor .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.elityaworld.sheet.actor .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.elityaworld.sheet.actor .sheet-header .header-exp {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.elityaworld.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #D8A500;
  font-size: 18px;
}
.elityaworld.sheet.actor .sheet-header .summary input,
.elityaworld.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.elityaworld.sheet.actor .sheet-header .summary span {
  margin-inline-start: 4px;
  border-block-start: 1px solid transparent;
}
.elityaworld.sheet.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.elityaworld.sheet.actor .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #D8A500;
  border-radius: 0;
}
.elityaworld.sheet.actor .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.elityaworld.sheet.actor .sheet-header .attributes .attribute .attribute-name {
  position: relative;
}
.elityaworld.sheet.actor .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.elityaworld.sheet.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  white-space: nowrap;
}
.elityaworld.sheet.actor .tab.attributes {
  overflow: hidden;
  align-items: flex-start;
}
.elityaworld.sheet.actor ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.elityaworld.sheet.actor ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #D8A500;
  border-radius: 4px;
  text-align: center;
}
.elityaworld.sheet.actor ul.attributes li.attribute:last-child {
  margin: 0;
}
.elityaworld.sheet.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet.actor ul.attributes li.attribute .attribute-value > * {
  font-weight: 400;
  font-size: 24px;
}
.elityaworld.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.elityaworld.sheet.actor .abilities-block {
  flex: 0 0 100px;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: 2px groove #D8A500;
  border-radius: 3px;
}
.elityaworld.sheet.actor .abilities-block .ability {
  height: 70px;
  text-align: center;
  border-bottom: 2px groove #D8A500;
  position: relative;
}
.elityaworld.sheet.actor .abilities-block .ability:last-child {
  border-bottom: none;
  margin-bottom: -3px;
}
.elityaworld.sheet.actor .abilities-block .ability input.ability-value {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.elityaworld.sheet.actor .skill-block ul.skills-list {
  flex: 0 0 180px;
  list-style: none;
  margin: 0 5px 0;
  padding: 0;
  border: 2px groove #D8A500;
  border-radius: 3px;
}
.elityaworld.sheet.actor .skill-block ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.elityaworld.sheet.actor .skill-block ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.elityaworld.sheet.actor .skill-block ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.elityaworld.sheet.actor .skill-block ul.skills-list li.skill .skill-name-controls {
  position: relative;
}
.elityaworld.sheet.actor .skill-block ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
  text-transform: capitalize;
}
.elityaworld.sheet.actor .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.elityaworld.sheet.actor .attribute.mental {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #D8A500;
  border-radius: 4px;
  text-align: center;
}
.elityaworld.sheet.actor .attribute.mental .attribute-mental-value {
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.elityaworld.sheet.actor .attribute.mental .attribute-mental-value > * {
  font-weight: 400;
  font-size: 24px;
}
.elityaworld.sheet.actor .traits {
  height: 100%;
  padding: 0 5px 0 3px;
}
.elityaworld.sheet.actor .traits label {
  line-height: 20px;
  font-size: 15px;
  flex: none;
  margin: 0 10px 0 0;
  font-weight: bold;
}
.elityaworld.sheet.actor .traits textarea {
  font-family: "Signika", serif;
  height: 100px;
  font-size: 13px;
  border: 2px groove #D8A500;
  resize: none;
}
.elityaworld.sheet.actor .tab.inventory,
.elityaworld.sheet.actor .tab.spellbook {
  overflow-y: hidden;
}
.elityaworld.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;
}
.elityaworld.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.elityaworld.sheet.actor.character .sheet-header .charlevel {
  flex: 0 0 20px;
  height: 20px;
  font-size: 18px;
  color: #7a7971;
  white-space: nowrap;
}
.elityaworld.sheet.actor.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.elityaworld.sheet.actor.character .sheet-header .experience span.xp-next {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.elityaworld.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
}
.elityaworld.sheet.actor.character ul.skills-list li.skill {
  padding: 3px;
}
.elityaworld.sheet.actor.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.elityaworld.sheet.actor.character .characteristics {
  flex: 0 0 180px;
  height: 100%;
  padding: 0 3px 3px;
}
.elityaworld.sheet.actor.character .characteristics label {
  flex: 0 0 20px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #880101;
}
.elityaworld.sheet.actor.character .characteristics textarea {
  font-family: "Signika", serif;
  font-size: 13px;
  border: 2px groove #D8A500;
  resize: none;
}
.elityaworld.sheet.actor.character .biography {
  max-width: calc(100% - 180px);
}
.elityaworld.sheet.actor.character .biography .editor {
  height: 100%;
  padding: 0 5px 5px;
  border: 2px groove #D8A500;
}
.elityaworld.sheet.actor .sheet-header .name {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-header .charlevel label {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-header span.sep {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-header span.xp-next {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-header ul.summary li input {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-header ul.attributes h4.attribute-name {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-navigation .item {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-body .abilities-block h3 {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-body .skill-block li.skill h4 {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-body .skill-block li.skill input {
  color: #44191A;
}
.elityaworld.sheet.actor .sheet-body .skill-block li.skill span.skill-ability {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-body .attribute.mental h4 {
  color: #880101;
}
.elityaworld.sheet.actor .sheet-body .traits {
  color: #880101;
}
